extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/directory/create' id='directory_create')
            div()
                label(for='fcreatedir' class='sr-only') #{__('NameOfNewDirectory')}
                input(type='text' class='form-control' placeholder=__('DirectoryName') autocomplete='off' id='fcreatedir' name='fcreatedir' pattern='[a-zA-Z0-9_\\-]+' required)
            div(class='pt-2 d-grid')
                button(type='submit' class='btn btn-primary') #{__('CreateDirectory')}
        hr(class='m-1 mt-3 mb-2')
        form(method='post' enctype='multipart/form-data' action='/directory/rename' id='directory_rename')
            div()
                label(for='folddir' class='sr-only') #{__('OldDirectory')}
                select(class='form-control' id='folddir' name='folddir' required)
                    option(value='' selected disabled hidden) > #{__('SelectDirectory')} <
                    each dir in dirs
                        option(value=dir) #{dir}
            div(class='pt-2')
                label(for='fnewdir' class='sr-only') #{__('NewDirectory')}
                input(type='text' class='form-control' placeholder=__('NewDirectoryName') autocomplete='off' id='fnewdir' name='fnewdir' pattern='[a-zA-Z0-9_\\-]+' required)
            div(class='pt-2 d-grid')
                button(type='submit' class='btn btn-primary') #{__('RenameDirectory')}
        hr(class='m-1 mt-3 mb-2')
        form(method='post' enctype='multipart/form-data' action='/directory/delete' id='directory_delete')
            div()
                label(for='fdeldir' class='sr-only') #{__('DirectoryName')}
                select(class='form-control' id='fdeldir' name='fdeldir' required)
                    option(value='' selected disabled hidden) > #{__('SelectDirectory')} <
                    each dir in dirs
                        option(value=dir) #{dir}
            div(class='pt-2 d-grid')
                button(type='submit' class='btn btn-danger' id='fdeldb') #{__('DeleteDirectory')}

    script(src='javascripts/confirm.js')
    script.
        custom_confirm('#directory_delete', '#{__('DeleteDirectory')}', '#{__('DirectoryDeleteConfirm')}', '#{__('No')}', '#{__('Yes')}');

        function checkNoDupes(identifier) {
            var element = $(identifier);

            var isDuplicate = false;
            $('#folddir option').each(function() {
                if ($(this).val() == element.val())
                 isDuplicate = true;
            });
            if (isDuplicate) {
                element.get(0).setCustomValidity('#{__('DirectoryRenameDuplicate')}');
                element.get(0).reportValidity();
            } else {
                element.get(0).setCustomValidity('');
                element.get(0).reportValidity();
            }
        }

        $('#fcreatedir').on('input', () => checkNoDupes('#fcreatedir'));
        $('#fnewdir').on('input', () => checkNoDupes('#fnewdir'));
