extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/image/upload' id='image_upload')
            div()
                label(for='fdirn' class='sr-only') Ordner
                select(class='form-control custom-select' id='fdirn' name='fdirn' required oninvalid='this.setCustomValidity(\'Es muss ein Ordner ausgewählt werden.\')')
                    option(value='' selected disabled hidden) -- Ordner auswählen --
                    each dir in dirs
                        option(value=dir) #{dir}
            div(class='pt-2')
                label(class='form-label' for='fimgn' id='fimgl') Bilder
                input(type='file' class='form-control' id='fimgn' name='fimgn' multiple required oninvalid='this.setCustomValidity(\'Es muss mindestens ein Bild ausgewählt werden.\')')
            div(class='d-grid pt-2')
                button(type='submit' class='btn btn-primary') Bilder hochladen
        hr(class='m-1 mt-3 mb-2')
        form(method='post' enctype='multipart/form-data' action='/image/delete' id='image_delete')
            div()
                label(for='fdird' class='sr-only') Ordner
                select(class='form-control custom-select' id='fdird' name='fdird' required oninvalid='this.setCustomValidity(\'Es muss ein Ordner ausgewählt werden.\')')
                    option(value='' selected disabled hidden) -- Ordner auswählen --
                    each dir in dirs
                        option(value=dir) #{dir}
            div(class='pt-2')
                label(for='fimgd' class='sr-only') Bilder
                select(class='form-control custom-select' id='fimgd' name='fimgd' size='5' multiple required oninvalid='this.setCustomValidity(\'Es muss mindestens ein Bild ausgewählt werden.\')')
                    option(value='' selected disabled hidden) -- Bilder auswählen --
            div(class='pt-2 d-grid')
                button(type='submit' class='btn btn-danger' id='fimage_delete' disabled) Bilder löschen
    div(id='img_div' hidden) #{imgs}

    div(class='modal fade' id='pmodal' tabindex='-1' role='dialog' aria-labelledby='pmodal_header' aria-hidden='true')
        div(class='modal-dialog modal-dialog-centered' role='document')
            div(class='modal-content')
                div(class='modal-header')
                    h5(class='modal-title' id='pmodal_header') Fortschritt
                div(class='modal-body' id='pmodal_text')
                    div() Bilder werden hochgeladen...
                    br
                    div(class="progress" style='height: 25px;')
                        div(class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id='progress')

    script(src='javascripts/confirm.js')
    script.
        $('#fdird').on('input', function() {
            $('#fimage_delete').prop('disabled', true);
        });

        $('#fimgd').on('input', function() {
            var hasSelected = false;
            $('#fimgd :selected').each(function() {
                if ($(this).val() != '')
                    hasSelected = true;
            });
            $('#fimage_delete').prop('disabled', !hasSelected);
        });

        $('#fimgn').on('input', function() {
            $('#fimgl').html($('#fimgn')[0].files.length + ' ausgewählt');
        });

        var img_data = JSON.parse($('#img_div').html())
        $('#fdird').on('input', function() {
            $('#fimgd').empty().append('<option selected disabled hidden value=\'0\'>-- Bilder auswählen --</option>');

            var selected = $('#fdird').val();
            var imgs = img_data[selected];
            imgs.forEach((image) => {
                $('#fimgd').append('<option value=' + image + '>' + image + '</option>');
            });
        });

        custom_confirm('#image_delete', 'Bilder löschen', 'Sollen die ausgewählten Bilder wirklich gelöscht werden?', 'Nein', 'Ja');

        $('#image_upload').on('submit', function() {
            $('#pmodal').modal({
                backdrop: false
            });
            $('#pmodal').modal('show');

            var imgAll = $('#fimgn')[0].files.length;
            var imgCount = 0;
            var interval = setInterval(function() {
                imgCount += 1;
                var progress = parseInt(100 * imgCount / imgAll);
                $('#progress').css('width', progress + '%')
                    .attr('aria-valuenow', progress)
                    .text(imgCount + '/' + imgAll);
                if (imgCount >= imgAll)
                    clearInterval(interval);
            }, 3000);
        });
