extends layout

block content
    div(class='container')
        div(class='card mb-4')
            div(class='card-header') #{__('Software')}
            div(class='card-body')
                div(class='row g-2')
                    div(class='col-6')
                        button(class='btn btn-info w-100 bi-tv' disabled)  #{currVersion}
                    div(class='col-6')
                        button(class='btn btn-info w-100 bi-cloud' disabled)  #{newestVersion}
                form(method='post' enctype='multipart/form-data' action='/software/update' id='update_software' class='d-grid pt-2')
                    - var isDisabled = (currVersion === newestVersion);
                    button(
                        type='submit'
                        class='btn bi-cloud-arrow-down ' + (isDisabled ? 'btn-warning' : 'btn-success')
                        disabled=isDisabled
                    )  #{__('UpdateSoftware')}
                hr
                form(method='post' action='/software/restart' id='restart_software' class='d-grid')
                    button(type='submit' class='btn btn-primary bi-bootstrap-reboot')  #{__('RestartSoftware')}
        div(class='card mb-4')
            div(class='card-header') #{__('Images')}
            div(class='card-body')
                form(method='post' enctype='multipart/form-data' action='/misc/clear-tmp-dir' id='clear-tmp-dir' class='d-grid')
                    button(type='submit' class='btn btn-danger bi-trash')  #{__('ClearTmpDir')} (#{tmpFiles} #{__('Images')})
        div(class='card mb-4')
            div(class='card-header d-flex justify-content-between align-items-center')
                div()  #{__('Logs')}
                button(type='button' class='btn btn-primary btn-sm bi-arrow-clockwise' onclick='fetchLogs()')  #{__('Refresh')}
            div(class='card-body')
                div(id='logContainer' class='bg-dark text-success-emphasis font-monospace border rounded p-2 overflow-auto' style='max-height: 300px')
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm_fst('#update_software', '#{__('UpdateSoftware')}', '#{__('UpdateConfirm')}', '#{__('No')}', '#{__('Yes')}');
        custom_confirm_snd('#restart_software', '#{__('RestartSoftware')}', '#{__('RestartSoftwareConfirm')}', '#{__('No')}', '#{__('Yes')}');
        custom_confirm_trd('#clear-tmp-dir', '#{__('ClearTmpDir')}', '#{__('ClearTmpDirConfirm')}', '#{__('No')}', '#{__('Yes')}');

        function fetchLogs() {
            $.get('/logs', (data) => {
                const logContainer = $('#logContainer');
                logContainer.html('');
                data.logs.forEach(line => {
                    logContainer.append($('<div>').text(line));
                });
            })
        }

        $(document).ready(() => {
            fetchLogs();
        });
