extends layout

mixin schedule(header, id, start_id, end_id, start_time, end_time)
    div(class='mt-3 mb-1')
        span(class='badge rounded-pill bg-warning text-dark')= header
    form(method='post' enctype='multipart/form-data' action='/screen/'+id id=id)
        div(class='input-group')
            div(class='input-group-prepend')
                div(class='input-group-text') Startzeit
            input(type='time' class='form-control' id=start_id name=start_id value=start_time required oninvalid='this.setCustomValidity(\'Es muss ein Uhrzeit ausgewählt werden.\')')
        div(class='input-group top-pad')
            div(class='input-group-prepend')
                div(class='input-group-text') Endzeit
            input(type='time' class='form-control' id=end_id name=end_id value=end_time required oninvalid='this.setCustomValidity(\'Es muss ein Uhrzeit ausgewählt werden.\')')
        div(class='top-pad row')
            div(class='col d-grid')
                button(type='submit' class='btn btn-danger' form=id name='mode' value='clear' formnovalidate) Löschen
            div(class='col d-grid')
                button(type='submit' class='btn btn-primary' form=id name='mode' value='set') Festlegen

block content
    div(class='container-fluid')
        div()
            form(method='post' enctype='multipart/form-data' action='/screen/on' class='d-grid')
                button(type='submit' class='btn btn-success') Bildschirm einschalten
        div(class='pt-2')
            form(method='post' enctype='multipart/form-data' action='/screen/off' class='d-grid')
                button(type='submit' class='btn btn-warning') Bildschirm ausschalten
        hr

        div(class='accordion' id='accordion')
            +schedule('Täglich', 'everydayschedule', 'estime', 'eetime', everyday_start_time, everyday_end_time)
            +schedule('Arbeitstag', 'workdayschedule', 'wstime', 'wetime', workday_start_time, workday_end_time)
            +schedule('Sonn- und Feiertag', 'holidayschedule', 'hstime', 'hetime', holiday_start_time, holiday_end_time)

        hr
        form(method='post' enctype='multipart/form-data' action='/screen/resetschedules' id='resetschedules' class='d-grid')
            button(type='submit' class='btn btn-danger' form='resetschedules') Zeitpläne löschen
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm('#resetschedules', 'Zeitplan', 'Sollen wirklich alle Zeitpläne gelöscht werden?', 'Nein', 'Ja');
    