extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/slide/start' id='slide_start')
            label(for='fdirs' class='sr-only') Ordner
            select(class='form-select' id='fdirs' name='fdirs' multiple required)
                option(value='' selected disabled hidden) -- Ordner auswählen --
                each dir in dirs
                    - if (sdirs.includes(dir))
                        option(value=dir selected) #{dir}
                    - else
                        option(value=dir) #{dir}
            hr
            div(class='d-grid gap-2')
                input(type='checkbox' class='btn-check' id='frandom' name='frandom' checked=srandom autocomplete='off')
                label(class='btn btn-outline-info' for='frandom') Zufällige Reihenfolge

                input(type='checkbox' class='btn-check' id='fname' name='fname' checked=snames autocomplete='off')
                label(class='btn btn-outline-info' for='fname') Bildname anzeigen

            div(class='input-group top-pad')
                span(class='input-group-text') Zeit pro Bild
                input(type='number' class='form-control' min='5' max='300' value=stime === undefined ? 30 : stime id='ftime' name='ftime' autocomplete='off')
                span(class='input-group-text') s

            div(class='input-group top-pad')
                span(class='input-group-text') Übergangszeit
                input(type='number' class='form-control' min='0' max='1000' value=sblend === undefined ? 200 : sblend id='fblend' name='fblend' autocomplete='off')
                span(class='input-group-text') ms

            br
            div(class='d-grid')
                button(type='submit' class='btn btn-success') Diashow starten
    
    script.
        $('#slide_start').on('submit', function(event) {
            var hasSelected = false;
            $('#fdirs :selected').each(function() {
                if ($(this).val() != '')
                    hasSelected = true;
            });
            if (!hasSelected) {
                $('#fdirs').get(0).setCustomValidity('Es muss mindestens ein Ordner ausgewählt werden.');
                $(this).get(0).reportValidity();
                event.preventDefault();
            }
        });

        $('#fdirs').on('input', function() {
            var hasSelected = false;
            $('#fdirs :selected').each(function() {
                if ($(this).val() != '')
                    hasSelected = true;
            });
            if (hasSelected) {
                $('#fdirs').get(0).setCustomValidity('');
                $(this).get(0).reportValidity();
            }
        });
