extends layout

block content
    div(class='container-fluid')
        div(class='row g-2')
            div(class='col-6')
                button(class='btn btn-info w-100 bi-tv' disabled)  #{currTag}
            div(class='col-6')
                button(class='btn btn-info w-100 bi-cloud' disabled)  #{newestTag}
        div()
            form(method='post' enctype='multipart/form-data' action='/software/update' id='update_software' class='d-grid pt-2')
                button(type='submit' class='btn btn-warning bi-cloud-arrow-down')  #{__('UpdateSoftware')}
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm('#update_software', '#{__('UpdateSoftware')}', '#{__('UpdateConfirm')}', '#{__('No')}', '#{__('Yes')}');
