extends layout

block content
    div(class='container')
        div(class='card mb-4')
            div(class='card-header') #{__('Software')}
            div(class='card-body')
                div(class='row g-2')
                    div(class='col-6')
                        button(class='btn btn-info w-100 bi-tv' disabled)  #{currVersion}
                    div(class='col-6')
                        button(class='btn btn-info w-100 bi-cloud' disabled)  #{newestVersion}
                form(method='post' enctype='multipart/form-data' action='/software/update' id='update_software' class='d-grid pt-2')
                    - var isDisabled = (currVersion === newestVersion);
                    button(
                        type='submit'
                        class='btn bi-cloud-arrow-down ' + (isDisabled ? 'btn-warning' : 'btn-success')
                        disabled=isDisabled
                    )  #{__('UpdateSoftware')}
        div(class='card mb-4')
            div(class='card-header') #{__('Images')}
            div(class='card-body')
                form(method='post' enctype='multipart/form-data' action='/software/clear-tmp-dir' id='clear-tmp-dir' class='d-grid pt-2')
                    button(type='submit' class='btn btn-danger bi-trash')  #{__('ClearTmpDir')} (#{tmpFiles} #{__('Images')})
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm('#update_software', '#{__('UpdateSoftware')}', '#{__('UpdateConfirm')}', '#{__('No')}', '#{__('Yes')}');
        custom_confirm_alt('#clear-tmp-dir', '#{__('ClearTmpDir')}', '#{__('ClearTmpDirConfirm')}', '#{__('No')}', '#{__('Yes')}');
