extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/update/software' id='update_software' class='d-grid')
            button(type='submit' class='btn btn-warning') #{__('UpdateSoftware')}
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm('#update_software', '#{__('UpdateSoftware')}', '#{__('UpdateConfirm')}', '#{__('No')}', '#{__('Yes')}');
