extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/image/upload' id='image_upload')
            label(for='fdir' class='sr-only') Ordner
            select(class='form-control custom-select' id='fdir' name='fdir')
                option(value='' selected disabled hidden) -- Ordner auswählen --
                each dir in dirs
                    option(value=dir) #{dir}
            div(class='custom-file')
                input(type="file" class="custom-file-input" id="customFileLang" lang="de" multiple disabled)
                label(class="custom-file-label" for="customFileLang") Bilder
            button(type='submit' class='btn btn-primary btn-block' disabled) Bilder hochladen
        hr
        form(method='post' enctype='multipart/form-data' action='/image/delete' id='image_delete')
            label(for='fdir' class='sr-only') Ordner
            select(class='form-control custom-select' id='fdir' name='fdir')
                option(value='' selected disabled hidden) -- Ordner auswählen --
                each dir in dirs
                    option(value=dir) #{dir}
            label(for='fimages' class='sr-only') Bilder
            select(class='form-control custom-select' id='fimagedel' name='fimagedel' size='5' multiple disabled)
                option(value='' selected disabled hidden) -- Bilder auswählen --
                each dir in dirs
                    option(value=dir) #{dir}
            button(type='submit' class='btn btn-danger btn-block' disabled) Bilder löschen
